button.button {
    color: var(--color-text-white);
    padding: 2px 4px;
    border-radius: 4px;
    border: 0;
    font-family: 'Quicksand';
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    outline-offset: 1px;
}

/* Colors */
button.button.primary {
    background-color: var(--color-primary);
}
button.button.primary:hover {
    background-color: var(--color-primary-hover);
}
button.button.primary:active {
    background-color: var(--color-primary-active);
}
button.button.primary:focus {
    outline: solid 2px var(--color-primary-faded);
}

button.button.secondary {
    background-color: var(--color-secondary);
}
button.button.secondary:hover {
    background-color: var(--color-secondary-hover);
}
button.button.secondary:active {
    background-color: var(--color-secondary-active);
}
button.button.secondary:focus {
    outline: solid 2px var(--color-secondary-faded);
}

button.button.warning {
    background-color: var(--color-warning);
}
button.button.warning:hover {
    background-color: var(--color-warning-hover);
}
button.button.warning:active {
    background-color: var(--color-warning-active);
}
button.button.warning:focus {
    outline: solid 2px var(--color-warning-faded);
}

button.button.critical {
    background-color: var(--color-critical);
}
button.button.critical:hover {
    background-color: var(--color-critical-hover);
}
button.button.critical:active {
    background-color: var(--color-critical-active);
}
button.button.critical:focus {
    outline: solid 2px var(--color-critical-faded);
}

button.button.success {
    background-color: var(--color-success);
}
button.button.success:hover {
    background-color: var(--color-success-hover);
}
button.button.success:active {
    background-color: var(--color-success-active);
}
button.button.success:focus {
    outline: solid 2px var(--color-success-faded);
}

/* Sizes */
button.button.sm {
    padding: 4px 8px;
}

button.button.md {
    padding: 6px 12px;
    font-size: medium;
}

button.button.lg {
    padding: 8px 16px;
    font-size: medium;
}

button.button.xl {
    padding: 10px 20px;
    font-size: large;
}